<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-white mb-5">SOCIOLOGIA</h1>
    </div>
  </div>
  <div class="row">

      <div class="col-md-3">
        <app-menu-lateral></app-menu-lateral>
      </div>
      
      <div class="col-md-9 ">

        <!-- Inicio: postagens outros -->
        <div class="row mb-3" *ngFor='let item of listaPostagens'>
          <div class="col-md-10">
              <div class="postInicio d-flex flex-column">


                  <!--Navbar-->
                  <nav class="navbar navbar-6" *ngIf='item.usuario.id==idUser'>

                      <div class="d-flex align-items-center mt-1 mr-4 ml-4 mb-0">
                          <img class="imgPost mr-3" src="{{item.usuario.foto}}" alt="Foto de perfil" />
                          
                          <div>
                              <p style="font-size: 17px; line-height: 0% mt-1">
                                  <strong>{{item.usuario.nome_completo}}</strong>
                              </p>
                              <p style="font-size: 11px; line-height: 0%">
                                  {{item.data | date: 'dd/MM/yyyy'}} às {{item.data
                                      | date: 'HH:mm'}}
                              </p>
                          </div>
                      </div>


                      <!-- Collapse button -->
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon dots">
                             <i class="fas fa-th"></i>
                          </span>
                      </button>
                      

                      <!-- Collapsible content -->
                      <div class="collapse navbar-collapse" id="navbarSupportedContent15">

                         
                          <!-- Links -->
                          <ul class="navbar-nav mr-4">
                              <li class="nav-item active text-right">
                                  <a [routerLink]="['/postagem-edit', item.id]" class="nav-link " href="#"><i class="fas fa-pencil-alt"></i><span
                                          class="sr-only">(current)</span></a>
                              </li>
                              <li class="nav-item active text-right">
                                  <a [routerLink]="['/postagem-delete', item.id]" class="nav-link"
                                      href="#"><i class="fas fa-trash"></i></a>
                              </li>

                          </ul>                          
                          <!-- Links -->

                      </div>
                      <!-- Collapsible content -->

                  </nav>
                  <!--/.Navbar-->
                  
                  
                  <div class="conteudoTexto mb-1 mt-2 ml-5 mr-5 d-flex text-justify">
                      {{item.descricao}}
                  </div>

                  <div class="conteudoMidia mb-1">
                      <img src="{{item.link}}" alt="" style="width: 100%" />
                  </div>

                  <div class="postOpcoes d-flex flex-wrap justify-content-around align-items-center">
                      <a href=""><i class="fas fa-thumbs-up"></i> Curtir</a>
                      <a href=""><i class="fas fa-share-alt"></i> Compartilhar</a>
                      <button class="btn botao-cadas" data-toggle="modal" data-target="responder"  data-target="#responder">Responder Mathetaiano</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="responder" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="TituloModalCentralizado">Responda ao Mathetaiano :)</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

              <div class="form-group">
                  <label for="titulo">Digite sua resposta</label>
                  <input type="text" class="form-control" id="titulo" placeholder="Escreva sua resposta aqui...">
              </div>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn botao-cancel" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn botao-cadas" data-dismiss="modal">RESPONDER</button>
          </div>
      </div>
  </div>
</div>






