.container-fluid {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: #0f6d62;
  padding: 10px 0 20px 0;
}

.card {
  border-radius: 0.8rem;
  border: 1px solid #b6b6b6;
}

.postInicio {
  background-color: #d0f0e9;
  border: 1px solid #267866;
  border-radius: 0.8rem;
  padding: 8px;
}

.postInicio .imgPost {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-clip: content-box;
  border-radius: 50%;
  background-size: cover;
}

a{
  cursor: pointer;
}

.fas {
  font-size: 1rem;
}

.fa-thumbs-up:hover {
  color: #7ea4b3;
}

.fa-comment:hover {
  color: #7ea4b3;
}

.fa-share-alt:hover {
  color: #7ea4b3;
}

.fa-photo-video {
  color: #77dd77;
}

.fa-user-tag {
  color: #7ea4b3;
}

.fa-laugh {
  color: #f4b183;
}

.postInicio .postOpcoes a {
  text-decoration: none;
  color: #494949;
}

.botao-cadas {
  background-color: #0f6d62;
  color: white;
}

.botao-cancel {
  background-color: #f44235;
  color: white;
}

.fa-th {
  color: #0f6d62;
  font-size: 24px;
}

.fa-trash {
  color: #f44235;
}

.btn-barra {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #f44235;
}

.botao-cadas {
  font-weight: bold;
  background-color: #0f6d62;
  color: white;
}

.botao-cancel {
  font-weight: bold;
  background-color: #f44235;
  color: white;
}

.img-post {
  width: 35px;
  height: 35px;
}

.btn-vermelhoclaro {
  font-weight: bold;
  background-color: #f44235;
}

.btn-verdepetroleo {
  font-weight: bold;
  background-color: #0f6d62;
}

.btn-verdeclaro {
  font-weight: bold;
  background-color: #3bbba0;
}

.texto-negrito {
  font-weight: 600;
}
  


/*Calendario*/
ul {list-style-type: none;}

/* Month header */
.month {
  padding: 10px 10px;
  background: #3bbba0;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
