#back-to-entrar{
  font-size: 35px;
  color: #3bbba0;
  animation: back 1s infinite alternate;
}

.link-voltar{
  color: #3bbba0;
  font-weight: bold;
  animation: back 1s infinite alternate;
}

#back-to-entrar:hover{
  color:#0f6d62;
}

.link-voltar:hover{
  color:#0f6d62;
}

em{
  font-weight: bold;
  color: #3bbba0;
}

p{
  font-size: 1.1rem;
}

.imgQuemSomos {
  width: 300px;
  height: 300px;
}

ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}

.fab {
  font-size: 35pt;
  color: #0f6d62;
  padding: 10px;
}

.logoMathetai {
  max-width: 85%;
  height: auto;
}

/* Responsividade */
@media (min-width: 360px) {
  .imgD {
    flex-direction: column-reverse;
  }
}

@media (min-width: 768px) {
  .imgD {
    display: flex;
    flex-direction: row;
  }
}

/*Animações*/
@keyframes back{
  0%{
    transform: translateX(20px);
  }

  100%{
    transform: translateX(0);
  }
}
