<div class="container mt-5 mb-5">
  <!-- Inicio: Allen Vieira -->
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-5">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Allen Vieira"
      />
    </div>
    <div class="col-md-5 d-flex flex-column">
      <h2 class="text-center">Allen Vieira</h2>
      <p class="text-justify">
        Eos est at ea ipsum accusam amet rebum vero dolor, sanctus est aliquyam
        ipsum clita diam labore stet ea. Et dolor voluptua aliquyam justo sit.
        Magna stet ea et dolor ipsum sea ea dolor, sed accusam amet sit labore
        duo accusam erat elitr et. Stet nonumy rebum no ipsum sadipscing nonumy,
        sit est et sea eos ipsum, aliquyam ea lorem clita takimata erat justo
        et. Sanctus labore sit at sea. Sed kasd dolor labore amet, erat kasd
        invidunt lorem magna amet sed kasd invidunt. Kasd nonumy diam dolores
        dolore dolore sit justo eirmod ipsum. Elitr et gubergren dolor eirmod
        dolores. Diam consetetur diam elitr sit sit clita diam, gubergren
        accusam sit vero stet et elitr sed sed. Sea lorem et magna diam
        consetetur sit, stet voluptua invidunt stet ut stet. Ea ipsum diam
        dolore gubergren kasd et aliquyam stet. Sadipscing dolore takimata erat
        voluptua stet voluptua no, ut labore sea.
      </p>
    </div>
  </div>
  <!-- Fim: Allen Vieira -->
  <!-- Inicio: Breno Noccioli -->
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-5 d-flex flex-column">
      <h2 class="text-center">Breno Noccioli</h2>
      <p class="text-justify">
        Eos est at ea ipsum accusam amet rebum vero dolor, sanctus est aliquyam
        ipsum clita diam labore stet ea. Et dolor voluptua aliquyam justo sit.
        Magna stet ea et dolor ipsum sea ea dolor, sed accusam amet sit labore
        duo accusam erat elitr et. Stet nonumy rebum no ipsum sadipscing nonumy,
        sit est et sea eos ipsum, aliquyam ea lorem clita takimata erat justo
        et. Sanctus labore sit at sea. Sed kasd dolor labore amet, erat kasd
        invidunt lorem magna amet sed kasd invidunt. Kasd nonumy diam dolores
        dolore dolore sit justo eirmod ipsum. Elitr et gubergren dolor eirmod
        dolores. Diam consetetur diam elitr sit sit clita diam, gubergren
        accusam sit vero stet et elitr sed sed. Sea lorem et magna diam
        consetetur sit, stet voluptua invidunt stet ut stet. Ea ipsum diam
        dolore gubergren kasd et aliquyam stet. Sadipscing dolore takimata erat
        voluptua stet voluptua no, ut labore sea.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Breno Noccioli"
      />
    </div>
  </div>
  <!-- Fim: Breno Noccioli -->
  <!-- Inicio: Fernanda Ferraz -->
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-5">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Fernanda Ferraz"
      />
    </div>
    <div class="col-md-5 d-flex flex-column">
      <h2 class="text-center">Fernanda Ferraz</h2>
      <p class="text-justify">
        Eos est at ea ipsum accusam amet rebum vero dolor, sanctus est aliquyam
        ipsum clita diam labore stet ea. Et dolor voluptua aliquyam justo sit.
        Magna stet ea et dolor ipsum sea ea dolor, sed accusam amet sit labore
        duo accusam erat elitr et. Stet nonumy rebum no ipsum sadipscing nonumy,
        sit est et sea eos ipsum, aliquyam ea lorem clita takimata erat justo
        et. Sanctus labore sit at sea. Sed kasd dolor labore amet, erat kasd
        invidunt lorem magna amet sed kasd invidunt. Kasd nonumy diam dolores
        dolore dolore sit justo eirmod ipsum. Elitr et gubergren dolor eirmod
        dolores. Diam consetetur diam elitr sit sit clita diam, gubergren
        accusam sit vero stet et elitr sed sed. Sea lorem et magna diam
        consetetur sit, stet voluptua invidunt stet ut stet. Ea ipsum diam
        dolore gubergren kasd et aliquyam stet. Sadipscing dolore takimata erat
        voluptua stet voluptua no, ut labore sea.
      </p>
    </div>
  </div>
  <!-- Fim: Fernanda Ferraz -->
  <!-- Inicio: Lais Lima -->
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-5 d-flex flex-column">
      <h2 class="text-center">Lais Lima</h2>
      <p class="text-justify">
        Eos est at ea ipsum accusam amet rebum vero dolor, sanctus est aliquyam
        ipsum clita diam labore stet ea. Et dolor voluptua aliquyam justo sit.
        Magna stet ea et dolor ipsum sea ea dolor, sed accusam amet sit labore
        duo accusam erat elitr et. Stet nonumy rebum no ipsum sadipscing nonumy,
        sit est et sea eos ipsum, aliquyam ea lorem clita takimata erat justo
        et. Sanctus labore sit at sea. Sed kasd dolor labore amet, erat kasd
        invidunt lorem magna amet sed kasd invidunt. Kasd nonumy diam dolores
        dolore dolore sit justo eirmod ipsum. Elitr et gubergren dolor eirmod
        dolores. Diam consetetur diam elitr sit sit clita diam, gubergren
        accusam sit vero stet et elitr sed sed. Sea lorem et magna diam
        consetetur sit, stet voluptua invidunt stet ut stet. Ea ipsum diam
        dolore gubergren kasd et aliquyam stet. Sadipscing dolore takimata erat
        voluptua stet voluptua no, ut labore sea.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Lais Lima"
      />
    </div>
  </div>
  <!-- Fim: Lais Lima -->
  <!-- Inicio: Verônica Navarro -->
  <div class="row d-flex justify-content-between align-items-center">
    <div class="col-md-5">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Verônica Navarro"
      />
    </div>
    <div class="col-md-5 d-flex flex-column">
      <h2 class="text-center">Verônica Navarro</h2>
      <p class="text-justify">
        Eos est at ea ipsum accusam amet rebum vero dolor, sanctus est aliquyam
        ipsum clita diam labore stet ea. Et dolor voluptua aliquyam justo sit.
        Magna stet ea et dolor ipsum sea ea dolor, sed accusam amet sit labore
        duo accusam erat elitr et. Stet nonumy rebum no ipsum sadipscing nonumy,
        sit est et sea eos ipsum, aliquyam ea lorem clita takimata erat justo
        et. Sanctus labore sit at sea. Sed kasd dolor labore amet, erat kasd
        invidunt lorem magna amet sed kasd invidunt. Kasd nonumy diam dolores
        dolore dolore sit justo eirmod ipsum. Elitr et gubergren dolor eirmod
        dolores. Diam consetetur diam elitr sit sit clita diam, gubergren
        accusam sit vero stet et elitr sed sed. Sea lorem et magna diam
        consetetur sit, stet voluptua invidunt stet ut stet. Ea ipsum diam
        dolore gubergren kasd et aliquyam stet. Sadipscing dolore takimata erat
        voluptua stet voluptua no, ut labore sea.
      </p>
    </div>
  </div>
  <!-- Fim: Verônica Navarro -->
</div>
