<div class="container-fluid mt-3 mb-5">
  <div class="row d-flex justify-content-center">
    <h1>Quem somos</h1>
  </div>
  <!-- Início: Sobre o projeto -->
  <div class="row py-5 d-flex justify-content-center align-items-center">
    <div class="col-md-5">
      <h2 class="text-center">O Projeto</h2>
      <p class="text-justify">
        AUt lorem rebum ipsum gubergren lorem no. Amet diam ut sadipscing sea et
        sanctus et nonumy, dolor ipsum dolore lorem dolor ipsum tempor lorem
        dolor. Magna ea dolores clita magna et dolor, duo dolor eos ut voluptua
        et, et et dolor at sed voluptua consetetur amet erat, duo dolores no
        sanctus ipsum takimata vero stet sanctus et, dolores takimata justo
        clita kasd dolores takimata sea. Lorem dolor aliquyam at sadipscing
        amet, elitr amet dolor invidunt ipsum amet no dolor eirmod,.
      </p>
    </div>
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="img-fluid"
        src="../../assets/img/logo-mathethai.png"
        alt="Logo Mathetai"
      />
    </div>
  </div>
  <!-- Fim: Sobre o projeto -->
  <!-- Inicio: Allen Vieira -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center"
    style="background-color: #0f6d6215"
  >
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Allen Vieira"
      />
    </div>
    <div class="col-md-5">
      <h2 class="text-center">Allen Vieira</h2>
      <p class="text-justify">
        Duo stet ut takimata duo sed ut diam sed consetetur et. Stet elitr et
        sit nonumy aliquyam et takimata diam.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.instagram.com/allenv96/"
            target="_blank"
            class="icoInstagram"
          >
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/allen-vieira/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AllenLVieira/"
            target="_blank"
            class="icoGithub"
          >
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fim: Allen Vieira -->
  <!-- Inicio: Breno Noccioli -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center"
    style="background-color: #f4423515"
  >
    <div class="col-md-5">
      <h2 class="text-center">Breno Noccioli</h2>
      <p class="text-justify">
        Duo stet ut takimata duo sed ut diam sed consetetur et. Stet elitr et
        sit nonumy aliquyam et takimata diam.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icoInstagram"
          >
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="icoGithub">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Breno Noccioli"
      />
    </div>
  </div>
  <!-- Fim: Breno Noccioli -->
  <!-- Inicio: Fernanda Ferraz -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center"
    style="background-color: #3bbba015"
  >
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Fernanda Ferraz"
      />
    </div>
    <div class="col-md-5">
      <h2 class="text-center">Fernanda Ferraz</h2>
      <p class="text-justify">
        Duo stet ut takimata duo sed ut diam sed consetetur et. Stet elitr et
        sit nonumy aliquyam et takimata diam.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icoInstagram"
          >
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="icoGithub">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fim: Fernanda Ferraz -->
  <!-- Inicio: Lais Lima -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center"
    style="background-color: #b20b0b15"
  >
    <div class="col-md-5">
      <h2 class="text-center">Lais Lima</h2>
      <p class="text-justify">
        Duo stet ut takimata duo sed ut diam sed consetetur et. Stet elitr et
        sit nonumy aliquyam et takimata diam.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icoInstagram"
          >
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="icoGithub">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Lais Lima"
      />
    </div>
  </div>
  <!-- Fim: Lais Lima -->
  <!-- Inicio: Verônica Navarro -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center bg-light"
  >
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/david-beckham-768x576.jpg.webp"
        alt="Foto do Verônica Navarro"
      />
    </div>
    <div class="col-md-5">
      <h2 class="text-center">Verônica Navarro</h2>
      <p class="text-justify">
        Duo stet ut takimata duo sed ut diam sed consetetur et. Stet elitr et
        sit nonumy aliquyam et takimata diam.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="icoInstagram"
          >
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="icoGithub">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fim: Verônica Navarro -->
</div>
