<div class="container-fluid mt-3 mb-5">
  <div class="row d-flex align-items-center">
    <div class="col-md-4">
      <a routerLink='/entrar'><i class="fas fa-chevron-left ml-2" id='back-to-entrar'></i> <p class="link-voltar">Voltar</p> </a>
    </div>
    <div class="col-md-4">
      <h1 class="texto-negrito texto-uppercase fs-50 text-center">Quem somos</h1>
    </div>
    <div class="col-md-4">
    </div>

  </div>
  <!-- Início: Sobre o projeto -->
  <div class="row py-5 d-flex justify-content-center align-items-center imgD">
    <div class="col-md-5">
      <h2 class="text-center texto-negrito ">O Projeto</h2>
      <p class="text-justify quem-somos">
        Do grego, <strong>Mathetai</strong> significa <em>aprendiz</em>. O nome vem como um pilar das razões de sua criação: unir aqueles que querem aprender com aqueles que querem ensinar em uma eterna relação de aprendizagem entre mestres e aprendizes em diversos assuntos, de Química à Programação. Em formato de rede social, os usuários são estimulados a ensinar seus conhecimentos e aprender tantos outros com os demais usuários, formando uma comunidade colaborativa e diversa culturalmente, totalmente gratuita e que presa pela difusão de conhecimento de forma simplificada e acessível a todos.
      </p>
    </div>
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="img-fluid logoMathetai"
        src="https://i.imgur.com/JvwTFSP.png"
        alt="Logo Mathetai"
      />
    </div>
  </div>
  <!-- Fim: Sobre o projeto -->
  <!-- Inicio: Allen Vieira -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center"
    style="background-color: #0f6d6215"
  >
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="../../assets/img/foto-allen.jpg"
        alt="Allen Vieira"
      />
    </div>
    <div class="col-md-5">
      <h2 class="text-center texto-negrito">Allen Vieira</h2>
      <p class="text-justify">
        Apaixonado por tecnologia, conheceu programação ainda pequeno, e percebeu que poderia aliar os conhecimentos técnicos para melhorar a vida de outras pessoas. Sentia-se mais confortável com o Back-end, mas atuou como desenvolvedor Full Stack durante o projeto Mathetai, o que proporcionou uma grande evolução no desenvolvimnento do Front-end.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.linkedin.com/in/allen-vieira/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/AllenLVieira/"
            target="_blank"
            class="icoGithub"
          >
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/allenv96/"
            target="_blank"
            class="icoInstagram"
          >
            <i class="fab fa-instagram-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fim: Allen Vieira -->
  <!-- Inicio: Breno Noccioli -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center imgD"
    style="background-color: #f4423515"
  >
    <div class="col-md-5">
      <h2 class="text-center texto-negrito">Breno Noccioli</h2>
      <p class="text-justify">
        Cientista social por formação em busca de maneiras de impactar a
        vida das pessoas de forma significativa. Descobriu na programação um novo
        fascínio pelo diálogo multidisciplinar, a possibilidade de mudar o mundo
        e melhorar a vida das pessoas. No projeto Mathetai, atuou como desenvolvedor Full Stack, colaborando na construção do Back-end com Java e Spring Boot, na criação e estilização de componentes com HTML, CSS, Bootstrap e Angular e insights de UX.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/" target="_blank" class="icoGithub">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="https://i.imgur.com/Qi54HVU.jpg"
        alt="Breno Noccioli"
      />
    </div>
  </div>
  <!-- Fim: Breno Noccioli -->
  <!-- Inicio: Fernanda Ferraz -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center"
    style="background-color: #3bbba015"
  >
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="https://i.imgur.com/s2hVzs9.jpg"
        alt="Fernanda Ferraz"
      />
    </div>
    <div class="col-md-5">
      <h2 class="text-center texto-negrito">Fernanda Ferraz</h2>
      <p class="text-justify">
        Desenvolvedora Full Stack Jr, com foco em Front-end e estudante de
        Desenvolvimento de Sistemas na ETEC Jardim Ângela. No projeto Mathetai,
        auxiliou na criação da API, criação de componentes, estilização e
        organização em Kanban utilizando o Trello. Acredita que com uma educação
        acessiva todos poderão conquistar seus sonhos e objetivos de vida.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.linkedin.com/in/fernanda-ferraz-42148b182/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/fernandaferraz951"
            target="_blank"
            class="icoGithub"
          >
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fim: Fernanda Ferraz -->
  <!-- Inicio: Lais Lima -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center imgD"
    style="background-color: #b20b0b15"
  >
    <div class="col-md-5">
      <h2 class="text-center texto-negrito">Lais Lima</h2>
      <p class="text-justify">
        Sempre foi muito curiosa e teve muito interesse em ciência, educação e
        tecnologia. Vê na programação a possibilidade de atuar de forma
        interdisciplinar, em conjunto com seus outros interesses, desenvolvendo
        projetos que impactem positivamente o mundo. Na execução do Mathetai
        ajudou principalmente no desenvolvimento do wireframe do projeto, banco
        de dados e na estilização dos componentes.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.linkedin.com/in/lais-lima-santos/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://github.com/LaisLimaSantos"
            target="_blank"
            class="icoGithub"
          >
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="https://media-exp1.licdn.com/dms/image/C4E03AQFIn1Cli-mmmw/profile-displayphoto-shrink_200_200/0/1595255379762?e=1620864000&v=beta&t=hBeurYicABUQ_Z9Tvt6Ekk1MmY0RjS2FbDYrvsMGV64"
        alt="Lais Lima"
      />
    </div>
  </div>
  <!-- Fim: Lais Lima -->
  <!-- Inicio: Verônica Navarro -->
  <div
    class="row py-5 d-flex justify-content-center align-items-center bg-light"
  >
    <div class="col-md-5 d-flex justify-content-center">
      <img
        class="imgQuemSomos rounded-circle"
        src="https://i.imgur.com/2YEFRMo.jpg"
        alt="Verônica Almenara"
      />
    </div>
    <div class="col-md-5">
      <h2 class="text-center texto-negrito">Verônica Almenara</h2>
      <p class="text-justify">
        Advogada apaixonada por tecnologia e performar em grandes projetos.
        Atuou como Desenvolvedora Full Stack na execução do projeto, codando em
        Java com Spring Boot e Angular, além de organização em Kanban e da
        Sprint na execução da estória.
      </p>
      <ul class="social-network text-center">
        <li>
          <a
            href="https://www.linkedin.com/in/vnalmenara/"
            target="_blank"
            class="icoLinkedin"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="
          https://github.com/vnalmenara"
            target="_blank"
            class="icoGithub"
          >
            <i class="fab fa-github-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Fim: Verônica Navarro -->
</div>
