.navbar-brand img {
  width: 200px;
  margin-top: -15px;
}

img{
  border-radius: 60px 10px 60px 10px;
  padding: 0;
}

.fs-20 {
  font-size: 20px;
}

.input-pesquisa {
  width: 300px;
}

.navbar {
  background-color: #0f6d62;
}

.fotoPerfil {
  width: 50px;
  height: 50px;
}
