<div class="container-fluid mb-0">
  <div class="row d-flex align-items-center">
    <div
      class="col-md-12 flex-column d-flex text-center justify-content-center mt-4 mb-0"
    >
      <h1 class="texto-negrito">APRENDA. ENSINE. COMPARTILHE CONHECIMENTO.</h1>
      <h4>
        Entre para uma das maiores comunidades colaborativas de conhecimento.
      </h4>
    </div>
    <div class="col-md-6 text-center mt-3 mr-0">
      <img
        src="../../assets/img/bg-entrar.png"
        alt="Imagens do conhecimento"
        width="500px"
        class="img-fluid mt-4"
      />
    </div>

    <div class="col-md-6 ml-0">
      <div class="row d-flex justify-content-center">
        <img
          class="img-fluid"
          src="https://i.imgur.com/JvwTFSP.png"
          alt="Logo Mathetai"
        />

        <div class="col-md-6">
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input
              (keyup.enter)="entrar()"
              [(ngModel)]="userLogin.email"
              class="form-control"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="E-mail cadastrado"
            />
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              (keyup.enter)="entrar()"
              [(ngModel)]="userLogin.senha"
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="Sua senha"
            />
          </div>

          <div class="d-flex justify-content-center">
            
            <button
              (click)="entrar()"
              type="submit"
              class="btn btn-verdeclaro text-white btn-lg p-2 mr-4"
            >
              Login
            </button>
            <a
              class="btn btn-verdepetroleo text-white btn-lg p-2"
              routerLink="/cadastrar"
              >Cadastre-se</a
            >
          </div>

          <div class="mt-3 d-flex justify-content-center">
            
            <a
              type="submit"
              class="btn btn-vermelhoclaro text-white ml-4 btn-lg p-2 texto-negrito"
              data-toggle="modal"
              data-target="#esqueceuSenha"
            >
              Esqueceu a senha?
          </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <img
    class="ml-2 mt-5 img-fluid"
    src="../../assets/img/zig-zag.webp"
    alt="detalhe estetico"
  />

  <h1 class="d-flex justify-content-center texto-negrito">
    Descubra a maior plataforma de conhecimento compartilhado!
  </h1>

  <div class="row d-flex align-items-center justify-content-center espacamento">
    <div class="col-md-6 text-center mr-0">
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">
        <img
          class="tmn-logo mb-3 img-fluid"
          src="https://i.imgur.com/jIRX2qx.png"
          alt="Logo Mathetai"
        />
        é a mais nova comunidade para o compartilhamento de conhecimento, unindo
        quem deseja ensinar e quem deseja aprender em uma mesma plataforma.
      </p>
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">
        Aqui você pode procurar pelos mais diversos assuntos, <br />
        desde química à finanças
      </p>
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">Venha fazer parte desta comunidade!</p>
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20"><a routerLink='/cadastrar' id='cad'>Cadastre-se</a> e torne-se um nerd em vários assuntos!</p>
    </div>

    <div
      class="col-md-5 d-flex align-items-center mt-3 d-flex justify-content-center mr-0 pr-0"
    >
      <img
        src="../../assets/img/FluxoEducacao.png"
        alt=""
        width="500px"
        height="500px"
        class="img-fluid"
      />
    </div>
  </div>

  <img
    class="ml-5 img-fluid"
    src="../../assets/img/zig-zag.webp"
    alt="detalhe estetico"
  />
</div>

<h1 class="d-flex justify-content-center mb-5 texto-negrito">
  Depoimentos dos Mathetaianos
</h1>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col text-center mt-5 ml-4 mr-4">
      <div class="card-deck">
        <div class="card d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="https://i.imgur.com/HTkqtfK.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Heloísa Beatriz</h5>
            <p class="card-text">
              Eu conto do Mathetai para todo mundo, falo dele o dia inteiro. Ele me ajudou demais na escola, na faculdade e agora comigo fazendo transição de carreira. Fui uma das primeiras a ingressar na plataforma e tenho muito orgulho disso, ver o quanto a empresa se preocupou em aperfeiçoar a ferramenta e deixar ela cada vez maior é realmente incrível. Se você quer aprender de forma simples e descomplicada, eu indico o Mathetai.
            </p>
          </div>
        </div>
        <div class="card  d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="https://1.imgur.com/l1q6Bp4.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Vinícius Miranda</h5>
            <p class="card-text text-justify">
              O que falar do Mathetai? Simplesmente sensacional! Não sei como eu estudava para concursos públicos sem ele há um mês. Didático e simples, essa abordagem de rede social realmente conquista todo mundo, já convidei vários amigos para ingressar na plataforma!
            </p>
          </div>
        </div>
        <div class="card  d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="https://i.imgur.com/6pnyeUh.jpg"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Rafaela Oliveira</h5>
            <p class="card-text text-justify">
              O Mathetai realmente revolucionou o modo como aprendi Matemática. Desde que me entendo por gente, tive muita dificuldade com a didática dos professores e após a minha entrada na tecnologia, tive que retornar aos estudos básicos. Com o Mathetai eu consegui ter confiança em mim mesma e aprender de verdade com o método deles. 
              Só devo dizer que o projeto de vocês muda vidas. Obrigada Mathetai!
            </p>
          </div>
        </div>
        <div class="card  d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="https://i.imgur.com/bpGUtMA.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Gustavo Rabelo</h5>
            <p class="card-text text-justify">
              Eu sempre busquei uma plataforma em que eu pudesse repassar meus conhecimentos e aprender coisas novas, o Mathetai abriu essa porta! Sendo professora queria me aproximar dos alunos, oferecer reforço, participar de comunidades e até mesmo criar meus próprios eventos, o Mathetai faz tudo isso! Gente, essa rede social é completa!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5"></div>

<!-- Modal -->
<div
  class="modal fade"
  id="esqueceuSenha"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">
          Esqueceu a senha?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Digite o e-mail cadastrado</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            placeholder="example@example.com"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-vermelhoclaro text-white"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-verdepetroleo text-white"
          data-dismiss="modal"
        >
          Recuperar
        </button>
      </div>
    </div>
  </div>
</div>
