.btn-vermelhoclaro {
  background-color: #f44235;
}

.btn-verdepetroleo {
  background-color: #0f6d62;
}

.btn-verdeclaro {
  background-color: #3bbba0;
}

.tmn {
  width: 150px;
  display: flex;
  align-items: center;
}

.plan-color {
  color: #0f6d62;
}

.tmn-logo {
  width: 150px;
  align-items: center;
}

.imgFlip {
  -webkit-transform: scaleY(-0.85);
  -o-transform: scaleY(-0.85);
  -moz-transform: scaleY(-0.85);
  transform: scaleY(-0.85);
  rotate: -20deg;
}

@media (min-width: 360px) {
  i {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  i {
    font-size: 35px;
  }
}
