<div class="container-fluid mb-0">
  <div class="row d-flex align-items-center">
    <div
      class="col-md-12 flex-column d-flex text-center justify-content-center mt-4 mb-0"
    >
      <h1 class="texto-negrito">APRENDA. ENSINE. COMPARTILHE CONHECIMENTO.</h1>
      <h4>
        Entre para uma das maiores comunidades colaborativas de conhecimento.
      </h4>
    </div>
    <div class="col-md-6 text-center mt-3 mr-0">
      <img
        src="../../assets/img/bg-entrar.png"
        alt="Imagens do conhecimento"
        width="500px"
        class="img-fluid mt-4"
      />
    </div>

    <div class="col-md-6 ml-0">
      <div class="row d-flex justify-content-center">
        <img
          class="img-fluid"
          src="../../assets/img/logo-mathethai.png"
          alt=""
        />

        <div class="col-md-6">
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input
              (keyup.enter)="entrar()"
              [(ngModel)]="userLogin.email"
              class="form-control"
              type="text"
              name="usuario"
              id="usuario"
              placeholder="E-mail cadastrado"
            />
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input
              (keyup.enter)="entrar()"
              [(ngModel)]="userLogin.senha"
              class="form-control"
              type="password"
              name="senha"
              id="senha"
              placeholder="Sua senha"
            />
          </div>

          <div class="d-flex justify-content-center">
            <button
              (click)="entrar()"
              type="submit"
              class="btn btn-verdepetroleo text-white btn-lg p-2 texto-negrito"
            >
              Login
            </button>
            <button
              type="submit"
              class="btn ml-4 btn-vermelhoclaro text-white btn-lg p-2 texto-negrito"
              data-toggle="modal"
              data-target="#esqueceuSenha"
            >
              Esqueceu a senha?
            </button>
          </div>

          <div class="mt-3 d-flex justify-content-center">
            <a
              class="btn btn-verdeclaro text-white btn-lg p-2 texto-negrito"
              routerLink="/cadastrar"
              >Cadastre-se</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <img
    class="ml-2 mt-5 img-fluid"
    src="../../assets/img/zig-zag.webp"
    alt="detalhe estetico"
  />

  <h1 class="d-flex justify-content-center texto-negrito">
    Descubra a maior plataforma de conhecimento compartilhado!
  </h1>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6 text-center mr-0">
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">
        <img
          class="tmn-logo mb-3 img-fluid"
          src="../../assets/img/logo-texto.png"
          alt=""
        />
        é a mais nova comunidade para o compartilhamento de conhecimento, unindo
        quem deseja ensinar e quem deseja aprender em uma mesma plataforma.
      </p>
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">
        Aqui você pode procurar pelos mais diversos assuntos, <br />
        desde química à finanças
      </p>
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">Venha fazer parte desta comunidade!</p>
      <i class="fas imgFlip fa-paper-plane plan-color fs-35"></i>
      <p class="fs20">Cadastre-se e torne-se um nerd em vários assuntos!</p>
    </div>

    <div
      class="col-md-5 d-flex align-items-center mt-3 d-flex justify-content-center mr-0 pr-0"
    >
      <img
        src="../../assets/img/FluxoEducacao.png"
        alt=""
        width="500px"
        height="500px"
        class="img-fluid"
      />
    </div>
  </div>

  <img
    class="ml-5 img-fluid"
    src="../../assets/img/zig-zag.webp"
    alt="detalhe estetico"
  />
</div>

<h1 class="d-flex justify-content-center mb-5 texto-negrito">
  Depoimentos dos Mathetaianos
</h1>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col text-center mt-5 ml-4 mr-4">
      <div class="card-deck">
        <div class="card border-0 d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="../../assets/img/pessoa2depoimento.jpg"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Larrissa Rangel</h5>
            <p class="card-text">
              Essa plataforma é incrível! Aprender nunca foi tão fácil!
            </p>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
        <div class="card border-0 d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="../../assets/img/pessoa4depoimento.png"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Carlos Alberto</h5>
            <p class="card-text">
              Este é um card com suporte a texto embaixo, que funciona como uma
              introdução a um conteúdo adicional.
            </p>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
        <div class="card border-0 d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="../../assets/img/pessoa5depoimento.jpg"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Mônica Almeida</h5>
            <p class="card-text">
              Este é um card maior com suporte a texto embaixo, que funciona
              como uma introdução a um conteúdo adicional. Este card tem o
              conteúdo ainda maior que o primeiro, para mostrar a altura igual,
              em ação.
            </p>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
        <div class="card border-0 d-flex align-items-center">
          <img
            class="card-img-top rounded-circle tmn"
            src="../../assets/img/pessoa3depoimento.jpg"
            alt="Imagem de capa do card"
          />
          <div class="card-body">
            <h5 class="card-title">Odete Beatriz</h5>
            <p class="card-text">
              Este é um card maior com suporte a texto embaixo, que funciona
              como uma introdução a um conteúdo adicional. Este card tem o
              conteúdo ainda maior que o primeiro, para mostrar a altura igual,
              em ação.
            </p>
            <p class="card-text">
              <small class="text-muted">Atualizados 3 minutos atrás</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5 mb-5"></div>

<!-- Modal -->
<div
  class="modal fade"
  id="esqueceuSenha"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">
          Esqueceu a senha?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Digite o e-mail cadastrado</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            placeholder="example@example.com"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-vermelhoclaro text-white"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-verdepetroleo text-white"
          data-dismiss="modal"
        >
          Recuperar
        </button>
      </div>
    </div>
  </div>
</div>
